<%- include('partials/header') %>
<div class="centered-form">
    <div class="centered-form__box">
        <h1>Join</h1>
        <form action="/chat">
            <label>Display Name</label>
            <input type="text" name="username" placeholder="Display name" required>
            <label>Room</label>
            <input type="text" name="room" placeholder="Room" required>
            <button type="submit">Enter Room</button>
        </form>
    </div>
</div>
<%- include('partials/footer') %> 